@import 'tailwindcss';


@theme {
    --color-dark: #424242;
    --font-buttons:"Roboto", serif;
    --font-titles:"Montserrat", serif;
    --font-text:"Poppins", serif;
    --color-nav:rgba(48,57,76,1);
    --color-nav:rgba(48,57,76,1);
    --color-backcolor:#212121;
    --color-orangered:#259b24;
    --color-navbar:#7e57c2;
    --color-gr:#1793d1;
    --color-heading:#feba02;
    --color-signup:#fbb034;
    --color-button:#003580;
  
  }